fastapi
uvicorn
pydantic
pandas
numpy==1.26.4
spacy
nltk
textblob
word2number
pillow
pymongo
fasttext
python-multipart
aiofiles
python-dotenv
pyaudio
google-generativeai
google-cloud-speech
scikit-learn
joblib
wheel
gensim
google-cloud-storage
scipy==1.10.1
